.App {
  @apply grid;
  height: 100%;
  text-align: center;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "content"
    "footer";
}

.app-head {
  @apply flex flex-nowrap bg-purple-200;
  grid-area: header;
}

.menu-item {
  @apply px-3.5;
}

.app-content {
  @apply bg-gray-100;
  grid-area: content;
}

.app-footer {
  @apply bg-black;
  grid-area: footer;
}

.logo {
  height: 60px;
  width: 60px;
}

.test {
  @apply p-3;
  /* @apply border-red-500 border-solid border-2; */
}
